.lContainer{
    display: flex;
    justify-content: center;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.lWrapper{
    width: 100%;
    max-width: 1025px;
    display: flex;
    gap: 20px;
    
    
}
.lSearch{
    position: sticky;
    flex: 1;
    height: fit-content;
    background: linear-gradient(to top, #ebedf2, #93b5c2);
    box-shadow: 1px 1px 1px 0.1px black;
    border-radius: 10px;
    padding: 15px;
    top: 10px;
}
.lResult{
    flex: 3;
}
.blockSearch{
display: flex;
flex-direction: column;
gap: 10px;
margin-bottom: 15px;
.label{
    font-size: 12px;
}
.spand{
    border: none;
    border-radius: 5px;
    background-color:#a9bbed;
    height: 30px;
    color: #021a0e;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}
}
.search{
    color: #0f482b;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 15px;
}
.sInput{
    border: none;
    border-radius: 5px;
    background-color:#aec0f1;
    height: 30px;
    color: #021a0e;
    width: 100%;
    
}
.sInput::placeholder{
    color: #09132c;
}
// .calender{
//     all:unset
// }
.others>label{
    margin-bottom: 10px;
    font-size: 17px;
}
.detailsItems{
display: flex;
justify-content: space-between;
margin-bottom: 10px;    
font-size: 12px;
margin-top: 10px;


}
.detailInput{
    width: 50px;
}

.listBtn{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 7px 10px;
    background: linear-gradient(to right, #afc8fd, #adcfc1);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    color: #021a0e;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(37, 99, 235, 0.1);
}
.listBtn:hover {
    background: linear-gradient(to right, #b5bcce, #87c087);
    transform: translateY(-1px);
    box-shadow: 0 4px 6px rgba(37, 99, 235, 0.2);
  }