.featuredHotels{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .fhItem{
        flex: 1;
        gap: 10px;
        display: flex;
        flex-direction: column;
    }
    .fhName{
        font-weight: bold;
    }
    .fhCity{
        font-size: 14px;
        font-weight: lighter;

    }
    .fhPrice{
        font-weight: bold;
    }
    .fhImg{
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }

    .fhRating>button{
        background-color: rgb(252, 154, 25);
        color: wheat;
        border: none;
        margin-right:10px ;
        border-radius: 20%;
    }

}
 